body{
  background-color: #02010a;
  font-family: Dancing Script;
}
.contenido{
  width: 100%;
  text-align: left;
  display: flex;
  display: -webkit-flex;
  -webkit-flex-flow: row wrap;
	flex-flow: row wrap;

}
.encabezado{
  width: 100%;
  background-color: #5b7989;
  border-radius: 10px 10px 0 0;
}
.encabezado h1{
  color: white;
  text-align: left;
  text-shadow: 0 0 2px #02010a;
}
.encabezado nav a{
  color: blue;
  float: right;
}
.encabezado #inicio:link{
  text-decoration: none;
}
.encabezado #paisajes:link{
  text-decoration: none;
}
.encabezado #retratos:link{
  text-decoration: none;
}
.principal{
  width: 100%;
  background-color: #82c3a6;
}
.imagen_principal{
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2%;
  margin-bottom: 2%;
}
.secundarias{
  width: 100%;
  background-color: #d5c75f;
  border: 1px solid white;
}
.secundarias > div{
  text-align: center;
}
.imagen_paisaje{
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2%;
  margin-bottom: 1%;
}
.imagen_retrato{
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 1%;
  margin-bottom: 2%;
}
.pie{
  background-color: #C6d5c5;
  width: 100%;
  display: flex;
  flex-direction: column;
  display: -webkit-flex;
  -webkit-flex-direction: column;

}
.pie div{
  width: 100%;
  margin-left: 10%;
}
@media (min-width:900px){
  .contenido{
    width: 900px;
    margin-left: auto;
    margin-right: auto;
  }
  .secundarias > div{
    width: 50%;
  }

  .imagen_paisaje{
    width: 95%;
    padding-top: 4%;
    margin-left: 2.5%;
    margin-right: 1.25%;
    margin-top: 2%;
    margin-bottom: 2%;
  }

  .imagen_retrato{
    width: 95%;
    margin-left: 1.25%;
    margin-right: 2.5%;
    margin-top: 2%;
    margin-bottom: 2%;
  }
  .secundarias{
    display: flex;
    flex-direction: row;
  }
  .pie{
    display: flex;
    flex-direction: row;
  }
  .pie > div{
    width: 25%;
    margin: auto;
    /*
    height: 20vw;
    */
  }
}
