body{
  background-color: black;
}
.encabezado{
  background-color: #5b7989;
  border-radius: 10px 10px 0 0;
}
.encabezado h1{
  color: white;
  text-align: left;
  text-shadow: 0 0 2px #02010a;
}
.encabezado nav a{
  color: blue;
}
.encabezado #inicio:link{
  text-decoration: none;
}
.encabezado #paisajes:link{
  text-decoration: none;
}
.encabezado #retratos:link{
  text-decoration: none;
}
